body {
    width: 1440px;
    height: 1024px;
    top: -513px;
    left: -4098px;
    padding: 56px 56px 928px 56px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

#input-styles {
    width: auto;
    max-width: 1300px;
    height: 40px;
    top: 6px;
    left: 5px;
    border: 1px transparent;
    font-size: 1.1em;
    padding: 0px 0 0 20px;
    inline-size: max-content;
    position: absolute;
    background-color: transparent;
    outline: none;
    caret-color: #555555;
    color: transparent;
    overflow-y: auto;
    text-indent: 20px;
    vertical-align: bottom;
}


.form-container {
    width: 1360px;
    top: 56px;
    left: 40px;
    border: 1px solid #edd8d83d;
    border-radius: 5px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.3);
    padding: 10px;
}

.custom-button-disabled {
    background-color: #fff;
    color: #88888873;
    cursor: not-allowed;
    border: 1px solid #dedede;
    border-radius: 5px;
    font-family: Satoshi variable, sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 211%;
    margin: 5px 5px 10px 5px;
    display: inline-flex;
    justify-items: center;
    align-items: flex-start;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    padding: 5px 20px;
    position: relative;
    max-width: 100%;
    vertical-align: middle;
}

.class-1-buttons {
    background-color: #fff;
    border: 1px solid #938c8c;
    border-radius: 5px;
    font-family: Satoshi variable, sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 211%;
    margin: 5px 5px 10px 5px;
    display: inline-flex;
    justify-items: center;
    align-items: flex-start;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    cursor: pointer;
    color: #938c8c;
    padding: 5px 20px;
    position: relative;
    max-width: 100%;
    vertical-align: middle;
}

.button-text {
    display: flex;
    justify-content: space-around;
}

.open {
    margin-right: 23px;
    background-color: #dedede;
}


.imageButton {
    padding-right: 5px;
}


.img-null {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    margin-left: 63px;
    display: none;
}

.green-tag {
    color: green;
}

.green-tag-div {
    color: green;
    background-color: lightgreen;
    border-radius: 20px;
    margin: 3px;
    padding: 7px;
    font-size: 15px;
    text-align: center;
    line-height: 1;
}

.purple-tag {
    color: #E31DE3FF;
}

.purple-tag-div {
    color: #E31DE3FF;
    background-color: #F1A7F1FF;
    border-radius: 20px;
    margin: 3px;
    padding: 7px;
    font-size: 15px;
    text-align: center;
    line-height: 1;
}

.orange-email {
    color: orange;
}

.orange-email-div {
    color: #a26d00;
    background-color: #f6c075;
    border-radius: 20px;
    margin: 3px;
    padding: 7px;
    font-size: 15px;
    text-align: center;
    line-height: 1;
}

.blue-url {
    color: blue;
}

.blue-url-div {
    color: blue;
    background-color: lightblue;
    border-radius: 20px;
    margin: 3px;
    padding: 7px;
    font-size: 15px;
    text-align: center;
    line-height: 1;
}

.normal {
    color: currentColor;
}

.normal-div {
    color: currentColor;
    background-color: white;
    border-radius: 20px;
    margin: 3px;
    padding: 7px;
    font-size: 15px;
    text-align: center;
    line-height: 1;
}

.icon-text {
    display: flex;
    align-items: center;
    width: max-content;
    height: 9px;
}

/*------Estilos de la Lista ------ */
.div-list {
    border: transparent;
    color: black;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    max-height: 200px;
    overflow-y: auto;
}

.list-item {
    display: flex;
}

.check {
    width: 20px;
    height: 30px;
    display: flex;
}

.icon-div {
    width: 17px;
    margin-top: 0;
    padding-top: 0;
    margin-left: 3px;
    margin-right: 3px;
}

/*---------Estilos del Input ------ */

.imagen-logo {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    margin-left: 16px;
}

.imagen-logo-opacity {
    opacity: 0.5;
    margin-left: 25px;
}

.input-container {
    position: relative;
    padding-top: 5px;
    padding-left: 5px;
    height: 58px;
    display: flex;
    justify-content: center;
    border-block-end: 3px solid lightgray;
}

.input-container-without-border {
    position: relative;
    padding-top: 5px;
    padding-left: 5px;
    height: 58px;
    display: flex;
    justify-content: center;
    border: none;
}

input:hover {
    cursor: pointer;
}

input:focus {
    outline: none;
}

.icon {
    position: absolute;
    top: 40%;
    left: 1px;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
}

.handleClick {
    width: 1250px;
    margin-left: -7px;
}

.handleClick-without-style {
    width: 1250px;
    margin-left: -163px;
}

.highlighted-text {
    border: transparent;
    width: 1400px;
    height: 50px;
    background-color: transparent;
    line-height: 1.4;
    position: absolute;
    z-index: 1;
    top: 13px;
    left: 40px;
    right: 0;
    bottom: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
    color: black;
    font-size: large;
    font-weight: bold;
}

.img-null {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    opacity: 0.5;
    margin-left: 63px;
    display: none;
}

/*--------Mediaqueris --------*/
@media (max-width: 1230px) {

    body {
        display: flex;
        justify-content: center;
    }
}

