input {
    width: 1328px;
    height: 40px;
    top: 56px;
    left: 56px;
    border: 1px;
    font-size: 1.1em;
    padding: 0 0 0 8px;
}

input:hover {
    cursor: pointer;
}

.input-container {
    position: relative;
}

.icon {
    position: absolute;
    top: 50%;
    left: 1px;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
}
